<h1>NUevo Heroe <small>{{ 'aasdfds'}}</small></h1>

<div fxLayput="row" fxLayoutGap="40px">
    <div fxFlex="50" fxLayout="column">

        <div fxLayout="row" fxLayoutGap="15px"> 
            <mat-form-field fxFlex="100">
                <mat-label> Super Heroe</mat-label>
                <input type="text"
                        matInput
                        required
                        [(ngModel)]="heroe.superhero"
                >
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <mat-label> Alter Ego</mat-label>
                <input type="text"
                        matInput
                        required
                        [(ngModel)]="heroe.alter_ego"
                >
            </mat-form-field>
        </div>


            <mat-form-field fxFlex="100">
                <mat-label> Primera Aparicion</mat-label>
                <input type="text"
                        matInput
                        required
                        [(ngModel)]="heroe.first_appearance"
                >
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <mat-label> Personajes</mat-label>
                <input type="text"
                        matInput
                        required
                        [(ngModel)]="heroe.characters"
                >
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <mat-label> Creador</mat-label>
                <mat-select required
                            [(ngModel)]="heroe.publisher"            
                >
                        <mat-option *ngFor="let creador of creadores" 
                                    [value]="creador.id">
                                    {{creador.desc}} 
                        </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <mat-label> Foto URL</mat-label>
                <input type="url"
                        matInput
                        required
                        [(ngModel)]="heroe.alt_img"
                >
            </mat-form-field>

            <button mat-raised-button
                    (click)="guardar(heroe)">
                Guardar
            </button>

            <div *ngIf="heroe.id">
                <button mat-raised-button
                (click)="eliminar()">
                    Eliminar
                </button>
            </div>


    </div>
        

    <div fxFlex="50" fxLayout="column">
        asdas
        <img [src]="heroe | imagen" alt="">
    </div>


</div>
