
<div fxLayout="column">
    <div>
        <h1> Buscador de Heroes:</h1>
    </div>
    <div>
        <h3>Buscador:</h3>


        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Number</mat-label>
            <input type="text"
                   placeholder="Pick one"
                   aria-label="Number"
                   matInput
                   [(ngModel)]="terminosBusqueda"
                   [matAutocomplete]="auto"
                   (input)="buscar()"
                   >
            <mat-autocomplete   autoActiveFirstOption 
                                #auto="matAutocomplete"
                                (optionSelected)="opSeleccionada($event)"
                                >
              <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                {{heroe.superhero}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

    </div>

</div>




<hr>
<div>

    {{heroeSeleccionadoInfo | json}}

</div>
